/* Super-basic CSS simply for visual verification that the tags get correct classes */

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: bolder;
}

p {
    margin: 0;
}

.fizz {
    color: orange;
}

.buzz {
    color: green;
}

.both {
    color: red;
}

.variable {
    color: blue;
}
