/* 
    Super basic CSS for fizzbuzz example
    Used for visual verification that my tags get the correct class
*/

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: bolder;
}

p {
    margin: 0;
}

.fizz {
    color: green;
}

.buzz {
    color: orange;
}

.both {
    color: red;
}

.variable {
    color: blue;
}
